<div class="card card-stat" [ngClass]="{'completed-card': completed}">
  <div class="card-header card-header-warning card-header-icon">
    <div class="card-icon">
      <i class="material-icons">{{iconName}}</i>
    </div>
    <p class="card-category"></p>
    <h3 class="card-title">
      {{count1}}
      <span *ngIf="countTotal">of {{countTotal}}</span>
    </h3>
  </div>
  <div class="card-footer">
    <div class="stats">
      <p class="stat-cart-title">{{title}}</p>
    </div>
  </div>
</div>
