.header-icon {
  cursor: pointer;
  margin-right: 20px;
}

.button-position {
  display: inherit;
}

.settings button {
  margin-right: 0;
}

.settings {
  width: 100%;
}

.container-fluid {

}

.show {
  display: block;
}

.hide {
  display: none;
}

