<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Name (obl)</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="tmpTitle"
      (keydown.enter)="onConfirm()">

    <button
      *ngIf="tmpTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpTitle=''"
      class="dialog-task-title">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose Category</mat-label>
    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Without Category</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">{{cat.title}}</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Choose Priority</mat-label>

    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Without Priority</mat-option>
      <mat-option *ngFor="let pr of priority" [value]="pr">{{pr.title}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput
           placeholder="Choose date fin"
           #inputDate
           readonly="true"
           [matDatepicker]="picker"
           [(ngModel)]="tmpDate"
           (click)="picker.open()">

    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <button *ngIf="inputDate.value.trim().length > 0"
            mat-button matSuffix mat-icon-button aria-label="clear"
            (click)="tmpDate = null" class="size25">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-md-2 col-sm-12">
            <button mat-raised-button
                    color="primary"
                    (click)="onConfirm()"
                    [disabled]="inputTitle.value.trim().length === 0">Save</button>
          </div>
          <div class="col-md-2 col-sm-12">
            <button mat-raised-button
                    color="primary"
                    (click)="onCansel()">Cansel</button>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12" *ngIf="checkIsNew()">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <button mat-button
                    *ngIf="task.completed"
                    class="green"
                    (click)="actualize()"
            >Actualize</button>
          </div>
          <div class="col-md-3 col-sm-12">
            <button mat-button
                    *ngIf="!task.completed"
                    class="green"
                    (click)="complete()"
            >Complete Task</button>
          </div>
          <div class="col-md-3 col-sm-12">
            <button mat-button
                    class="red"
                    (click)="onDelete()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-actions>

