<mat-dialog-content>
  <p mat-dialog-title class="settings-title with-subtitle">Priority settings</p>
  <p class="little subtitel">*When changing - the color will immediately be displayed in the table</p>

  <app-priorities
    [priorities]="priorities"
    (addPriority)="onAddPriority($event)"
    (updatePriority)="onUpdatePriority($event)"
    (deletePriority)="onDeletePriority($event)"
  ></app-priorities>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onClouse()">Clouse</button>
</mat-dialog-actions>
