<div class="wrapper">
  <ng-sidebar-container style=" height: 100vh">
    <ng-sidebar
        [opened]="menuOpened"
        [closeOnClickOutside]="false"
        [closeOnClickBackdrop]="true"
        [showBackdrop]="showBackdrop"
        [mode]="menuMode"
        [animate]="true"
        [position]="menuPosition"
        [autoFocus]="false"
        (onClosed)="onClosedMenu()"
    >
      <div class="sidebar">
          <app-categories
            (selectCategory)="onSelectCategory($event)"
            (updateCategory)="onUpdateCategory($event)"
            (deleteCategory)="onDeleteCategory($event)"
            (addCategory)="onAddCategory($event)"
            (searchCategory)="onSearchCategory($event)"
            [uncompletedTotal] = "uncompletedTotalTasksInCount"

            [categoryMap]="categoryMap"
            [selectedCategory] = "selectedCategory"
            [categories]="categories"
            ></app-categories>
      </div>
    </ng-sidebar>

    <div ng-sidebar-content>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
          <app-header
                [categoryName]="selectedCategory ? selectedCategory.title : 'All'"
                (toggleStat)="toggleStat($event)"
                (toggleMenu)="toggleMenu()"
                [toggleStatistic]="toggleStatistic"
          ></app-header>
        </nav>
        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
            <app-stat
              [totalTasksInCategory]="totalTasksCountInCategory"
              [completeTasksInCategory]="completedCountInCategory"
              [uncompleteTasksInCategory]="uncompletedCountInCategory"
              [toggleStatistic]="toggleStatistic"
            ></app-stat>

            <div class="row">
              <div class="col-12">
                <app-tasks [tasks]="tasks"
                           [priorities]="priorities"
                           [selectedCategory]="selectedCategory"
                           (filterByTitle)="onSearchByTitle($event)"
                           (filterByStatus)="onFilterTaskByStatus($event)"
                           (filterByPriority)="onFilterTaskByPriority($event)"

                           (addTask)="onAddTask($event)"
                           (updateTask)="onUpdateTask($event)"
                           (deleteTask)="onDeleteTask($event)"
                           (selectCategory)="onSelectCategory($event)"
                ></app-tasks>
              </div>
            </div>
          </div>
        </div>
       <app-footer></app-footer>
      </div>
    </div>
  </ng-sidebar-container>
</div>
