.completed{
  color: #797979;
  text-decoration: line-through;
  background-color: transparent !important;
}

.novalue{
  color: #b7b7b7;
}

.col-id {
  width: 1%;
  text-align: center;
  padding: 3px;
}

.col-title {
  width: 28%;
}

.col-date {
  width: 10%;
}

.col-priority {
  width: 10%;
}

.col-category {
  width: 10%;
}

.col-operations {
  width: 8%;
}

.col-select {
  width: 3%;
}

.col-color {
  width: 1% !important;
}

.delete-icon {
  cursor: pointer;
  color: #ea6561;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.edit-icon {
  cursor: pointer;
  color: #9A9A9A;
  font-size: 18px;
  margin-left: 3px;
  margin-right: 3px;
}

.mat-header-cell {
  font-size: 1.063rem;
  font-weight: normal;
  color: #9c27b0 !important;
}


/*Mobile styles*/
.background-completed {
  background-color: #94ada7;
}

.mobile-priority {
  float: left;
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  margin-left: 5px;
  color: #8e8e8e;
}

.mobile-priority-top {
  height: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-mobile {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
} 

.mobile-title-inner {
  padding: 14px;
  padding-left: 15px;
  margin-left: 10px;
  padding-bottom: 0;
}

.mobile-info-inner {
  padding-bottom: 14px;
  padding-left: 15px;
  margin-left: 10px;
}

.mobile-title {
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.check-icon-notcompleted {
  font-size: 40px !important;
  color: #dadada;
}

.check-icon-completed {
  font-size: 40px !important;
  color: rgba(167, 214, 182, 0.89);
}

.reset-search {
  margin-top: 10px;
  font-size: 16px;
  text-decoration: underline;
  color: rgba(5, 83, 123, 0.98)
}

div.card-mobile p {
  margin-bottom: 0px !important;
}

.mobile-date {
  float: left;
  display: inline-block;
  text-align: right;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 10px;
  color: #8e8e8e;
}

.mobile-check {
  padding-top: 14px;
}

.mobile-category {
  float: left;
  display: inline-block;
  text-align: left;
  margin-top: 8px;
  color: #8e8e8e !important;
}

.mobile-category p {
  margin: 0;
}

.mobile-category p.category, p.priority {
  display: inline;
  padding: 5px;
  background-color: rgba(227, 227, 227, 0.89);
  color: rgba(78, 78, 78, 0.89);
  border-radius: 4px;
}

.filter-clear-button {
  margin-left: -15px;
}