<div *ngIf="toggleStatistic && !isMobile">
  <div class="row">
    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Finished tasks"
      iconName="done"
      [count1]="completeTasksInCategory"
      [countTotal]="totalTasksInCategory"
      [completed]="true"
    >
    </app-stat-card>

    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Incomplete tasks"
      iconName="thumb_down_alt"
      [count1]="uncompleteTasksInCategory"
      [countTotal]="totalTasksInCategory"
    >
    </app-stat-card>

    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Percentage of completed tasks"
      iconName="poll"
      [count1]="completeTasksInCategory ? (completeTasksInCategory/totalTasksInCategory | percent) : '0 %'"
      [completed]="true"
    >
    </app-stat-card>

    <app-stat-card
      class="col-lg-3 col-md-6 col-sm-6"
      title="Percentage of not completed tasks"
      iconName="thumb_down_alt"
      [count1]="uncompleteTasksInCategory ? (uncompleteTasksInCategory/totalTasksInCategory | percent) : '0 %'"
    >
    </app-stat-card>
  </div>
</div>

