.priority-title {
  vertical-align: middle;
  width: 150px;
  float: left;
}

.priority-color {
  vertical-align: middle;
  width: 40px;
  float: left;
}

.color-circle {
  height: 25px;
  width:  25px;
  border-radius: 50%;
  display: inline-block;
  border: #dadada;
}

.priorities p {
  border: 0 !important;
}

.little {
  font-size: 14px;
  color: rgba(99,99,99,0.98);
  margin-top: 20px;
}
