/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap-css-only/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.empty-list {
  text-align: center;
  padding: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.pointer{
  cursor: pointer;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-container {
  padding: 40px !important;
}

.size25 {
  font-max-size: 25px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.main-panel .content {
  margin-top: 30px !important;
  background-color: transparent !important;
}

.main-panel {
  background-color: transparent !important;
}

app-header {
  width: 100%;
}

aside {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  z-index: 0 !important;
}

.sidebar::before,
  .off-canvas-sidebar nav .navbar-collapse::before {
    background-color: #ffffff;
}
