<div class="sidebar" data-color="purple" data-background-color="white" >
  <div class="categories">
    <div class="logo">
          <span class="nav-title">Categories</span>
          <span class="add-icon-area">
            <button mat-icon-button
                    class="add-icon"
                    (click)="addNewCatigory()">
              <mat-icon>add</mat-icon>
            </button>
          </span>
      </div>
    <div class="search-category-area">
      <mat-form-field class="example-full-width">
        <input #inputSearchCategory
               (keydown.escape)="searchCategoryTitle=''; search()"
               (keyup)="search()"
               [(ngModel)]="searchCategoryTitle"

                matInput
                maxLength="256"
                placeholder="Search by category">

        <button *ngIf="inputSearchCategory.value.trim().length > 0"
                (click)="searchCategoryTitle=''; search()"
                aria-label="Clear"
                class="search-category-button size25 gray"
                mat-button
                mat-icon-button
                matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="sidebar-wrapper">
      <ul class="nav">

        <li class="nav-item pointer"
            (click)="showTaskByCategory(null)"
            [class.active] = "selectedCategory === null">
          <a class="nav-link pointer">
            <span class="all-category-title">All</span>
            <span class="uncompleted-count">{{uncompletedTotal}}</span>
          </a>
        </li>

        <div class="line"></div>
        <div *ngIf="categories && categories.length > 0; else empty">
          <li class="nav-item pointer"
              *ngFor="let mapValue of selectedCategoryMap | keyvalue; let index = index"
              (click)="showTaskByCategory(mapValue.key)"
              (mouseleave)="showEditIcon(null)"
              (mouseenter)="showEditIcon(index)"
              [class.active] = "mapValue.key === selectedCategory">
            <a class="nav-link">
              <span class="category-title">{{mapValue.key.title}}</span>

              <span class="edit-category-icon-area">
                <mat-icon
                  *ngIf="indexMouseMove === index || isMobile || isTablet"
                  (click)="$event.stopPropagation(); openEditDialog(mapValue.key);"
                  class="edit-category-icon">edit</mat-icon>
              </span>
              <span class="uncompleted-count">{{mapValue.value}}</span>
            </a>
          </li>
        </div>
      </ul>
    </div>
    <ng-template #empty>
      <div class="empty-list">This list has not Category.</div>
    </ng-template>
    <div class="sidebar-background"></div>
  </div>
</div>

