.pointer{
  cursor: pointer;
}

.edit-category-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}

.category-title {
  width: 70%;
  display: inline-block;
  font-size: 16px;
}

.all-category-title {
  width: 85%;
  display: inline-block;
  font-size: 16px;
}

.edit-category-icon {
  color: #dadada;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}

.add-icon-area {
  width: 15%;
  display: inline-block;
  text-align: left;
}

.add-icon {
  cursor: pointer;
  font-size: 25px;
  vertical-align: center;
}

.nav-title {
  width: 85%;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.search-category-area {
  width: 199px;
  margin: 20px 20px 2px 20px;
  z-index: 4;
  position: relative;
}

.sidebar-background {
  background-image: url("../../../assets/img/sidebar-1.jpg");
  /*z-index: -99999;*/
}

.uncompleted-count {
  background-color: #eaeaea;
  border-radius: 3px;
  padding: 2px;
  color: black;
  width: 15%;
  display: inline-block;
  text-align: center;
}
