<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Name (15 symbol)</mat-label>
    <input
      #inputTitle
      matInput maxlength="15"
      [(ngModel)]="categoryTitle"
      (keydown.enter)="onConfirm()">

    <button
      *ngIf="categoryTitle.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="categoryTitle=''"
      class="clear-icon size25">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

 <div class="col-12 text-center">
    <button mat-raised-button
            color="primary"
            (click)="onConfirm()"
            [disabled]="inputTitle.value.trim().length === 0">Save</button>

    <button mat-raised-button (click)="onCansel()">Cansel</button>
  </div>

  <div class="col-12 text-center" *ngIf="canDelete">
    <button mat-button
            class="red"
            (click)="onDelete()">Delete</button>
  </div>
</mat-dialog-actions>


